<div class="page-head"></div>
<!-- page head end-->

<!--body wrapper start-->
<div class="wrapper">

  <div class="col-sm-offset-1 col-sm-10">
    <section class="panel">
      <header class="panel-heading">
        Input Data Kegiatan Polrestabes
      </header>

      <!-- JUDUL KEGIATAN -->
      <div class="panel-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="judul_kegiatan" class="col-lg-2 col-sm-2 control-label">Judul Kegiatan</label>
            <div class="col-lg-10">
              <input class="form-control" ng-model="petugasKegiatanInput.judul" id="judul_kegiatan" name="judul_kegiatan" placeholder="Judul Kegiatan" required type="text">
            </div>
          </div>

          <!-- DESKRIPSI KEGIATAN -->
          <div class="form-group">
            <label for="deskripsi_kegiatan" class="col-lg-2 col-sm-2 control-label">Deskripsi Kegiatan</label>
            <div class="col-lg-10">
              <textarea class="form-control" ng-model="petugasKegiatanInput.deskripsi" id="deskripsi_kegiatan" name="deskripsi_kegiatan" required></textarea>
            </div>
          </div>

          <!-- TANGGAL KEGIATAN -->
          <div class="form-group">
            <label for="tanggal_kegiatan" class="col-lg-2 col-sm-2 control-label">Tanggal Kegiatan</label>
            <div class="col-lg-10">
              <div class="input-group bootstrap-timepicker">
                <input class="form-control" ng-model="petugasKegiatanInput.tanggal" id="tanggal_kegiatan" name="tanggal_kegiatan" required type="date">
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>

          <!-- WAKTU KEGIATAN -->
          <div class="form-group">
            <label for="waktu_kegiatan" class="col-lg-2 col-sm-2 control-label">Waktu Kegiatan</label>
            <div class="col-lg-10">
              <div class="input-group bootstrap-timepicker">
                <input class="form-control" ng-model="petugasKegiatanInput.waktu" id="waktu_kegiatan" name="waktu_kegiatan" required type="time">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <i class="fa fa-clock-o"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>

          <!-- ALAMAT KEGIATAN -->
          <div class="form-group">
            <label for="alamat_kegiatan" class="col-lg-2 col-sm-2 control-label">Alamat Kegiatan</label>
            <div class="col-lg-10">
              <textarea class="form-control" ng-model="petugasKegiatanInput.alamat" id="alamat_kegiatan" name="alamat_kegiatan" required></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-offset-3 col-lg-6">
              <button type="submit" ng-click="petugasKegiatanInput.tambah(petugasKegiatanInput)" class="btn btn-success btn-block">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>

</div>
